# Build dirs
build/
build-wii/
bin/

# Object files
*.o
*.ko
*.obj
*.elf
*.dol
!apps/minicraft/boot.dol

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# VS / IDE
.vscode/
.idea/
